@import 'utils/variables';

.header{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;

    &--bg{
        position: fixed;
        .menu{
            background-color: $white;
            padding: 12px 24px;
            animation: menu .8s $easeOutExpo;

            &__logo{
                svg{
                    fill: $black;
                }
            }

            &__page{
                display: flex;
                align-items: center;
                font-weight: 500;
            }
        }

        .btn{
            &--menu{
                span{
                    &:before, &:after {
                        background-color: $black;
                    }
                }
            }
        }
    }
}

.last{
    display: none;
    grid-column: 1 / 6;
    margin-top: auto;
    padding-bottom: 48px;

    small{
        display: block;
        color: $lightgrey;
        font-size: $fontsizeSmall;
        margin-bottom: 12px;
    }

    img{
        transition: filter .8s $easeOutExpo;
        width: 100%;
        border-radius: 16px;
    }

    a{
        &:hover img{
            filter: brightness(0.8);
        }
    }
}

.menu{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 24px;
    padding: 24px 24px 0 24px;

    &__logo{
        grid-column: 1 / 2;
        display: flex;
        align-items: center;
        z-index: 13;
        
        svg{
            fill: $white;
        }
    }

    &__page{
        grid-column: 2 / 5;
        display: none;
        z-index: 13;
    }

    &__btn{
        grid-column: 5 / 6;
        display: flex;
        justify-content: flex-end;
    }

    &__burger{
        position: absolute;
        top: 0;
        height: 100%;
        width: 100vw;

        .container{
            padding: 0;
            position: relative;
        }
    }

    &__main{
        position: absolute;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: 24px;
        background-color: $black;
        padding-top: 96px;
        margin: 0 24px;
        box-shadow: 0 0 12px $black;
        z-index: 12;
        transform: translateY(-105%);
        border-bottom: 1px solid $lightgrey;
    }

    &__more{
        position: absolute;
        display: grid;
        background-color: $black;
        grid-template-columns: repeat(5, 1fr);
        column-gap: 24px;
        padding: 24px;
        width: calc(100% - 48px);
        box-shadow: 0 0 12px $black;
        z-index: 11;
        transform: translateY(-105%);

        p{
            grid-column: 1 / 2;
            display: none;
            align-items: flex-end;
            font-size: $lgDesktop;
            font-weight: 500;
            line-height: .7;
            color: $white;
            margin: 0;
        }

        .list{
            &__media{
                grid-column: 1 / 6;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                gap: 48px;
        
                a{
                    color: $white;
                    font-size: $fontsizeSmall;
                    text-transform: uppercase;
                    text-decoration: none;
                    padding: 12px 0;
                    position: relative;
        
                    &:after {
                        content:'';
                        position: absolute;
                        width: 100%;
                        height: 1px;
                        bottom: 10px;
                        left: 0;
                        background-color: $white;
                        transform: scaleX(0);
                        transform-origin: bottom right;
                        transition: transform 0.3s;
                    }
        
                    &:hover {
                        &:after {
                            transform-origin: bottom left;
                            transform: scaleX(1);
                        }
                    }
                }
            }
        }
    }
}

@keyframes menu{
    0%{
        transform: translateY(-100%);
    }

    100%{
        transform: translateY(0);
    }
}

.author{
    grid-column: 1 / 6;
    color: $lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 48px;

    &__lastname{
        font-family: "Eiko", serif;
        font-style: italic;
    }

    &__tasks{
        overflow: hidden;
        height: $mdMobile;
    }
}

.nav{
    grid-column: 1 / 6;
    padding-bottom: 48px;

    &__list{
        counter-reset: li;
    }

    &__element{
        overflow: hidden;

        &--link{
            font-size: $smDesktop;
            font-weight: 500;
            color: $lightgrey;
            text-decoration: none;
            padding: 3px 0;
            position: relative;

            &:after {
                content:'';
                position: absolute;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                top: 45%;
                right: -18px;;
                background-color: $yellow;
                transform: scale(0, 0);
                transform-origin: center;
                transition: transform .8s $easeOutExpo;
            }

            &:hover {
                &:after {
                    transform-origin: center;
                    transform: scale(1, 1);
                }
            }
        }

        &--actif{
            color: $white;
        }
    }
}

.btn{
    &--menu{
        display: block;
        width: 32px;
        height: 48px;
        padding-left: 16px;
        z-index: 13;

        span{
            margin: 0 auto;
            position: relative;

            &:before, &:after {
                position: absolute;
                content: '';
                width: 32px;
                height: 2px;
                background-color: $white;
                display: block;
                transition: margin .4s $easeOutExpo;
            }

            &:before{
                margin: -3px 0 0;
            }

            &:after{
                margin: 3px 0 0;
            }
        }
        
        &:hover{
            span:before{
                margin: -6px 0 0;
            }

            span:after{
                margin: 6px 0 0;
            }
        }
    }
}

.open{
    span{
        transition-delay: .3s;

        &:before, &:after{
            background-color: $white;
            transition-property: margin, transform;
            transition-duration: .3s;
            transition-delay: .3s, 0;
        }

        &:before{
            margin-top: 0;
            transform: rotate(45deg);
            transition-delay: 0, .3s;
        }

        &:after{
            margin-top: 0;
            transform: rotate(-45deg);
            transition-delay: 0, .3s;
        }
    }

    &:hover{
        span:before{
            margin: 0;
        }

        span:after{
            margin: 0;
        }
    }
}

body[data-menu]{
    .btn{
        &--menu{
            span{
                &:before, &:after {
                    background-color: $white;
                }
            }
        }
    }

    .menu{
        &__logo{
            svg{
                fill: $white;
            }
        }
        
        &__burger{
            position: fixed;
        }

        &__page{
            color: $white;
        }
    }
}

@media(min-width: 650px){
    .header{
        &--bg{
            .menu{
                padding: 12px 48px;
            }
        }
    }
    
    .menu{
        grid-template-columns: repeat(7, 1fr);
        padding: 24px 48px 0 48px;
    
        &__page{
            grid-column: 2 / 7;
        }
    
        &__btn{
            grid-column: 7 / 8;
        }

        &__main{
            grid-template-columns: repeat(7, 1fr);
            margin: 0 48px;
        }

        &__more{
            width: calc(100% - 96px);
            padding: 24px 48px;
            grid-template-columns: repeat(7, 1fr);

            p{
                grid-column: 1 / 4;
            }

            .list{
                &__media{
                    justify-content: flex-end;
                    grid-column: 4 / 8;
                }
            }
        }
    }

    .last{
        display: block;
        grid-column: 1 / 4;
    }

    .author{
        border-right: 1px solid $darkgrey;
        grid-column: 1 / 6;

        &__tasks{
            height: $mdTablet;
        }
    }

    .nav{
        padding-bottom: 96px;
        grid-column: 6 / 8;
    }
}

@media(min-width: 1300px){
    .menu{
        grid-template-columns: repeat(9, 1fr);

        &__page{
            grid-column: 2 / 9;
        }
    
        &__btn{
            grid-column: 9 / 10;
        }

        &__main{
            grid-template-columns: repeat(9, 1fr);
        }

        &__more{
            grid-template-columns: repeat(9, 1fr);

            p{
                grid-column: 1 / 6;
            }

            .list{
                &__media{
                    justify-content: flex-start;
                    grid-column: 6 / 10;
                }
            }
        }
    }

    .last{
        grid-column: 1 / 3;
    }

    .author{
        grid-column: 3 / 6;

        &__tasks{
            height: $mdDesktop;
        }
    }

    .nav{
        padding-bottom: 192px;
        grid-column: 6 / 10;
    }
}