@import 'utils/variables';

.title{
    margin: 0;
    line-height: $lineheightTitle;
    text-transform: uppercase;
    font-family: "Neue Montreal", serif;
    font-weight: 500;
    
    &--extrasmall{
        font-size: $xsMobile;
    }

    &--small{
        font-size: $smMobile;
    }

    &--medium{
        font-size: $mdMobile;
    }

    &--large{
        margin-bottom: 96px;
        font-size: $lgMobile;
    }

    &--extralarge{
        font-size: $xlMobile;
    }

    &--question{
        font-size: $mdMobile;
    }
}

@media(min-width: 650px){
    body, button{
        font-size: $fontsizeTablet;
    }

    .title{
        &--extrasmall{
            font-size: $xsTablet;
        }

        &--small{
            font-size: $smTablet;
        }

        &--medium{
            font-size: $mdTablet;
        }

        &--large{
            font-size: $lgTablet;
        }

        &--extralarge{
            font-size: $xlTablet;
        }

        &--question{
            font-size: $lgTablet;
        }
    }
}

@media(min-width: 1300px){
    body, button{
        font-size: $fontsizeDesktop;
    }

    .title{
        &--extrasmall{
            font-size: $xsDesktop;
        }

        &--small{
            font-size: $smDesktop;
        }

        &--medium{
            font-size: $mdDesktop;
        }

        &--large{
            font-size: $lgDesktop;
        }

        &--extralarge{
            font-size: $xlDesktop;
        }

        &--question{
            font-size: $xlDesktop;
        }
    }
}