$white: #FFF;
$black: #000;
$yellow: #FAB229; //#F7B538;
$darkgrey: #7A7A7A;
$lightgrey: #999999;

$lineheightTitle: 1;
$lineheightContent: 1.5;
$fontsizeSmall: 1.4rem;

$rapportHierarchique: 1.234;

$fontsizeMobile: 1.6rem;
$fontsizeTablet: 1.7rem;
$fontsizeDesktop: 1.8rem;

$xsMobile: $fontsizeMobile * $rapportHierarchique;
$smMobile: $fontsizeMobile * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique;
$mdMobile: $fontsizeMobile * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique;
$lgMobile: $fontsizeMobile * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique;
$xlMobile: $fontsizeMobile * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique;

$xsTablet: $fontsizeTablet * $rapportHierarchique;
$smTablet: $fontsizeTablet * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique;
$mdTablet: $fontsizeTablet * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique;
$lgTablet: $fontsizeTablet * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique;
$xlTablet: $fontsizeTablet * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique;

$xsDesktop: $fontsizeDesktop * $rapportHierarchique;
$smDesktop: $fontsizeDesktop * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique;
$mdDesktop: $fontsizeDesktop * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique;
$lgDesktop: $fontsizeDesktop * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique;
$xlDesktop: $fontsizeDesktop * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique * $rapportHierarchique;